<main class="dashboard">
  <div class="section no-pad-bot cover teal">
    <div class="container">
      <h1 class="header center white-text">Health Track</h1>
      <div class="row center white-text">
        <h5 class="header col s12 light">Track your height, weight, workouts and food!</h5>
      </div>
      <div class="row center">
        <%= render partial: 'buttons' %>
      </div>
      <br>
      <br>
    </div>
  </div>
  <%= render partial: 'dashboard_info' %>
</main>