<div class="login-form">
  <div class="card hoverable">
    <div class="card-content">
      <span class="card-title center">Edit Height</span>
      <div class="divider"></div>
      <br>
      <%= render partial: 'form' %>
    </div>
  </div>
</div>