<h1>Heights</h1>
<table>
  <tr>
    <th>User Name</th>
    <th>Height</th>
    <th>Date</th>
    <th>Delete</th>
  </tr>
  <% @heights.each do |height| %>
    <tr>
      <td><%= height.user.name %></td>
      <td><%= height.measurement %></td>
      <td><%= height.measured_at %></td>
      <td><%= link_to 'Delete', height, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
</table>